<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>501-composite-view.html</title>
	</head>

	<body>

		<div id="main-region"></div>
		
<script type="text/template" id="template-items">
      <thead>
        <tr><th>AA</th><th>BB</th><th>CC</th><th>DD</th></tr>
      </thead>
      <tbody>
      </tbody>
</script>

<script type="text/template" id="template-item">
  <td><%= a %></td><td><%= b %></td><td><%= c %></td><td><%= d %></td>
</script>

		<script src="http://localhost:8001/js/lib/jquery-1.11.0.js"></script>
		<script src="http://localhost:8001/js/lib/json2-2014-02-04.js"></script>
		<script src="http://localhost:8001/js/lib/underscore-1.4.4.js"></script>
		<script src="http://localhost:8001/js/lib/backbone-1.1.2.js"></script>
		<script src="http://localhost:8001/js/lib/backbone.marionette-1.7.3.js"></script>

		<script type="text/javascript">	
			var app = new Marionette.Application();
			app.addRegions({r1: "#main-region"});
			
			// Entities module
			app.module("Entities", function(Entities, app, BB, Marionette, $, _, opts) {
				
				Entities.Item = BB.Model.extend();
				Entities.Items = BB.Collection.extend({ model : Entities.Item });
				var items = null;
								 
				var InitializeItems = function() {
					items =  new Entities.Items (opts.models_attr);  // spawn collection
				};
				
				var API = {
					getEntities: function() {
						if ( items == null ) InitializeItems();
						return items;
					}	
				};

				// handler to respond to request				
			    app.reqres.setHandler('entities', function(){
			    	return API.getEntities()
			    });
	
			} , {models_attr: generateModelAtrr()} );
			
			// View module (View part)
			app.module("View", function(View, app, BB, Marionette, $, _) {
				
                // View display
				//View.Item  = Marionette.ItemView.extend({tagName: "li", template: "#template-item"});
				//View.Items = Marionette.CollectionView.extend( {tagName: "ul", itemView: View.Item });       
				View.Item  = Marionette.ItemView.extend(      {tagName: "tr",    template:"#template-item"});
				View.Items = Marionette.CompositeView.extend( {tagName: "table", template:"#template-items", itemView:View.Item, itemViewcontainer:"tbody" });       		
			});
			
/* Notice that in above, we are uing Marionette.CompositeView insteasd of CollectionView */
			
			// View module (Controller part)
			app.module("View", function(View, app, BB, Marionette, $, _) {
						
				// View logic (controller)
				View.showItems = function() {
					var items = app.request('entities'); //  request entities
					viewItems = new View.Items({ collection: items } );
					app.r1.show(viewItems);	
				}
			});

			
			// Entry point 
			app.View.showItems()
			
			function generateModelAtrr () {
				var models = [/* { a:'0a', b:'0b', ... },
				 				 { a:'1a', b:'1b', ... },
				 					...                    */
							 ];
				for (var i = 0; i < 10; i++) {
					var model = {/* { a:i+'a', b:i+'b', ... } */};
					_.each(['a', 'b', 'c', 'd'], function(elem) { model[elem] = i.toString() + elem; });
					models.push(model);
				}; //end for
				return models
			}

		</script>

	</body>
</html>