	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>0920-routing.html</title>
		<style type="text/css">
			.high-light { color:red; }
		</style>
	</head>
	
	<body>

<div id="main-region"></div>

<script type="text/template" id="template-items">
  <thead>
    <tr><th>AA</th><th>BB</th><th>CC</th><th>DD</th><th></th><th></th></tr>
  </thead>
  <tbody></tbody>
</script>

<script type="text/template" id="template-item">
  <td><%= a %></td>
  <td><%= b %></td>
  <td><button class="js-delete">Delete</button></td>
  <td><div><a class="js-show" href="#">Show</a></div></td>
</script>

<script type="text/template" id="template-detailView">
	<h1><%= a %> <%= c %></h1>
	<p><strong>b:</strong> <%= b %></p>
</script>

		<script src="http://localhost:8001/js/lib/jquery-1.11.0.js"></script>
		<script src="http://localhost:8001/js/lib/json2-2014-02-04.js"></script>
		<script src="http://localhost:8001/js/lib/underscore-1.4.4.js"></script>
		<script src="http://localhost:8001/js/lib/backbone-1.1.2.js"></script>
		<script src="http://localhost:8001/js/lib/backbone.marionette-1.7.3.js"></script>

<script type="text/javascript">	
	var app = new Marionette.Application();
	app.addRegions({r1: "#main-region"});
	
	//helper
	_.extend(app, {
		navigate: function(route, opts) { opts || (opts={}); Backbone.history.navigate(route, opts); }
		, getCurrentRoute : function(){ return Backbone.history.fragment }
	});

	
	app.on("initialize:after", function(){ 
			if(Backbone.history){ Backbone.history.start(); 
			if(this.getCurrentRoute() === ""){
				this.navigate("items");
				app.View.Controller.showItems();
			}
		};
	});
		
	// Entities module (where model and collection are prepared)
	app.module("Entities", function(Entities, app, BB, Marionette, $, _, opts) {
		
		Entities.Item = BB.Model.extend();
		Entities.Items = BB.Collection.extend({ model : Entities.Item });
		var items = null;
						 
		var InitializeItems = function() {
			items =  new Entities.Items (opts.models_attr);  // spawn collection
		};
		
		var API = {
			getEntities: function() {
				if ( items == null ) InitializeItems();
				return items;
			}	
		};

		// handler to respond to request				
	    app.reqres.setHandler('entities', function(){
	    	return API.getEntities();
	    });

	} , {models_attr: generateModelAtrr()} );


	
	// items View module (View part)
	app.module("View", function(View, app, BB, Marionette, $, _) {	
		View.Item  = Marionette.ItemView.extend({
						  tagName: "tr"
						, template: "#template-item"
						, events: {   "click": 'highLight'
									, "click button.js-delete": 'deleteClicked'
									, "click a.js-show": 'showClicked'
								  }
						, highLight: function() {this.$el.toggleClass('high-light');	}
						, deleteClicked: function(e) { 
								e.stopPropagation();
							    this.trigger("item:delete", this.model);
							}
						, showClicked: function(e) { 
							    e.preventDefault();
					    		e.stopPropagation();
					    		this.trigger("item:show", this.model);
					    	} 
					    , remove: function(){
					    	   var that = this;
					    	   this.$el.fadeOut(function(){
					    	   		Marionette.ItemView.prototype.remove.call(that);
					    	   });
					    	}
   
		});
		View.Items = Marionette.CompositeView.extend({
						  tagName: "table"
						, template: "#template-items"
						, itemView: View.Item
						, itemViewcontainer: "tbody" });       		
	});
	
	// items View module (Controller part)
	app.module("View", function(View, app, BB, Marionette, $, _) {			
		View.Controller = {
			showItems : function() {
				var myVar = 'myVar';
				var items = app.request('entities'); //  request entities
				var viewItems = new View.Items({ collection: items } );  // spawn view for collection
				
	      		var deleteItem = function(itemView, model) {
 				    this.collection.remove(model); 
	      		};
	      		var showItem = function(itemView, model) {
	      			app.Details.Controller.display(model);

	      		};
			    viewItems.on("itemview:item:delete", deleteItem );
			    viewItems.on("itemview:item:show", showItem );
	      		
				app.r1.show(viewItems);
				
				// mount collection on app for debug	
				window.app.items=items;
				window.app.viewItems = viewItems;
			}// end showItems
		};
	});




	// ViewDetail (View) 
	app.module("Details", function( Details, app, BB, Marionette, $, _) {
		Details.View = Marionette.ItemView.extend({
			template: "#template-detailView"
		});
	});
	
	// ViewDetail (controller)
	app.module("Details", function( Details, app, BB, Marionette, $, _) {
		Details.Controller = {
			display: function(model) {
				var detailView = new Details.View({ model:model	});
				app.r1.show(detailView);
			}
		}// end Controller
		
	})
	
	
	
	// Application Controller
	app.module("AppControl", function(AppControl, app, BB, Marionette, $, _ ){
		AppControl.Router = Marionette.AppRouter.extend({
			appRoutes: {"items" : 'itemsCallback' }
		});
		
		var API = {
			// this callback will be called if user change the URL to {baseDomain}#items
			itemsCallback: function() {
				console.log('in itemsCallback()');
				app.View.Controller.showItems();
			}  
			
		};
		
		AppControl.addInitializer(function(){
				// M.Application.addInitializer() is called 
				// BEFORE on("initialize:after") called 
			console.log('addInitializer called');
			//***** Router controller is defined here
			new AppControl.Router({controller: API	});
		});
	});
	
	
	// Entry point
	app.start();
	
	// Other supporting function
	function generateModelAtrr () {
		var models = [/* { a:'0a', b:'0b', ... },
		 				 { a:'1a', b:'1b', ... },
		 					...                    */
					 ];
		for (var i = 0; i < 10; i++) {
			var model = {/* { a:i+'a', b:i+'b', ... } */};
			_.each(['a', 'b', 'c', 'd'], function(elem) { model[elem] = i.toString() + elem; });
			models.push(model);
		}; //end for
		return models;
	}

</script>

	</body>
</html>