<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette lab</title>
  </head>

  <body>

	<div id="main-region"></div>
<script type="text/template" id="template-item"><p><%= a %> <%= b %> <%= c %> <%= d %></p></script>
    
<script src="http://localhost:8001/js/lib/jquery-1.11.0.js"></script>
<script src="http://localhost:8001/js/lib/json2-2014-02-04.js"></script>
<script src="http://localhost:8001/js/lib/underscore-1.4.4.js"></script>
<script src="http://localhost:8001/js/lib/backbone-1.1.2.js"></script>
<script src="http://localhost:8001/js/lib/backbone.marionette-1.7.3.js"></script> 
 

<script type="text/javascript">
(function(){
	  var outside = 'outside';
      var app = new Marionette.Application();
      var a = 'a';
      
      app.module("MyModule", function( MyModule_innerName, MyApp, BB, BBM, $, _, opts ) {
            MyModule_innerName.foo = 'foo';
            
            console.log('module:this:', this );
            console.log('module:opts', opts ); 
            
            
            var _Controller = Backbone.Marionette.Controller.extend({
                   initialize: function ( options ) {
                       console.log('_Controller.initialize::: (this === app.MyModule)', (this === app.MyModule));
     				   console.log('_Controller.initialize::: this ', this );
                       console.log('_Controller.initialize:options', options ); 
                       this.b = 'b';
                       this.method_1(this.b);                        
                    }
                    , method_1: function(options){
                    	 this.y = 'y';
                         console.log('_Controller.method_1:this:', this ); 
                         console.log('_Controller.method_1:options', options );
                       }
                    });
             
             this.addInitializer( function (options) {
             	console.log('- - - - - - - - - - -- - - -')
             	var b = 'b'
                this.controller = new _Controller( b );
                console.log('addInitialzier::: (this === app.MyModule) ', (this === app.MyModule) ); 
                console.log('addInitializer::: options', options );      // start

             }); // end addIntializer
                          

        }, a);
           
    var start = 'start';
    app.MyModule.start(start);
    var c = 'c'
    app.MyModule.controller.method_1(c);	 

})();    


</script>

</body>
</html>